recursive-include src/scitq/server/templates *
recursive-include src/scitq/server/static *
recursive-include src/scitq/ansible *
recursive-include src/scitq/migrations *
recursive-include src/scitq/providers *