<!doctype html>
<html lang="en-US">

<head>
    <link rel="icon" type="image/png" href={{ url_for("static", filename="favicon.png") }}>
    <link href={{ url_for("static", filename="css/bootstrap.v5.0.2/bootstrap.min.css") }} rel="stylesheet">
    <link href={{ url_for("static", filename="css/ui.css") }} rel="stylesheet">
    
    <script>
        var batch_filter="{{ batch_filter }}";
        var sortby="{{ sortby }}";
        var worker_filter="{{ worker_filter }}";
        var status_filter="{{ status_filter }}";
        var batch_list={{ batch_list | tojson }};
        var worker_list={{ worker_list | tojson }};
    </script>
    <script src={{ url_for("static", filename="js/bootstrap.v5.0.2/bootstrap.min.js") }}></script>
    <script src={{ url_for("static", filename="js/FileSaver.v2.0.4/FileSaver.min.js") }}></script>
    <script src={{ url_for("static", filename="js/jszip.min.v3.10.0.js") }}></script>
    <!-- <script src={{ url_for("static", filename="js/socket.io.v4.0.1/socket.io.js") }}></script> -->
    <script src="{{ url_for('static', filename='js/jquery-3.6.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scitq-common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scitq-task.js') }}"></script>
</head>

<body>
    <title>Tasks view</title>
    <img src={{ url_for("static", filename="favicon.png") }} width=64px style="float:left; margin-bottom:2px;"/>
    <h1 style="float:left;">Tasks view</h1>
    <div class="container" style="margin-bottom: -37px; max-width: 100%">
        <div class="row">
            <div class="col-md-7" style="float:left;">
                
                <form class="row g-2">
                    <h3 class="col-md-2 p-2">Filter</h3>
                    <div class="p-2 col-md-2">
                        <label for="sortby" id="sortby" class="form-label">Sort by:</label>
                    </select>
                    </div>
                    <p class="col-md-2 p-2" id="filter_by_worker"></p>
                    <p class="col-md-2 p-2" id="filter_by_batch"></p>

                    <div class="align-self-center p-2 col-md-2" style="margin-top: 23px;">
                      <button class="btn btn-primary" id="refresh" type="button" onclick="get_tasks();">Refresh</button>
                    </div>
                  </form> 
                </div>
            <div class="col-md-5">
                <div class="d-flex" role="group" aria-label="Basic mixed styles example">
                    <h3 class=" p-2"> Action</h3>
                    <div class="btn-group" role="group"></div>
                    <button type="button" id="pause" onclick="pause_page()" class="btn btn-warning"> Pause </button>
                    <button type="button" id="downloadall" onclick="downloadAll('all')"  class="btn btn-info">Download All<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16"><path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/><path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/></svg></button>
                    <a type="button" id="downloadall" target="_blank" href="/ui/batch/"  class="btn btn-secondary d-flex align-items-center">Batch view</a>
                    <p style='float:right; margin:0.5em;border-width: 1px;border-color: grey;background-color: lightgrey;padding:0.3em;max-height:2.5em;border-style: double;font-size:small'>v{{ package_version }} </p>
                    </div>
                </div>
                </div>
             </div>    
        </div> 
    </div>

<br/>
<ul class="nav nav-tabs">
    {% for status in ['all','paused','waiting','pending','assigned','accepted','running','failed','succeeded'] %}
    <li class="nav-item status-{{ status }}-bg">
        <input  class="nav-link" href="#" id="nav_all" type="button" onclick="set_status_filter('{{ status }}')" id ="{{ status }}_tasks" value="{{ status|capitalize }} tasks">
    </li>
    {% endfor %}
</ul>
<div class="col-md-12">
    <div class="panel panel-default">
        <span id="tasks"> 
            <table class="table table-responsive table-hover table-striped">
                <thead id="task_head" class="text-center status-{{ status_filter }}-bg status-bg">
                    <tr>
                        <th width="3%">#</th>
                        <th width="8%">Name</th>
                        <th width="12%">Command</th>
                        <th width="10%"><div onclick="">Worker</div></th>
                        <th width="8%">Batch</th>
                        <th width="3%">Status</th>
                        <th width="6%">Start</th>
                        <th width="6%">Runtime</th>
                        <th width="15%">Output</th>
                        <th width="15%">Error</th>
                        <th wifth="14%">Actions</th>
                    </tr>
                </thead>
                <tbody id="tasks-table-body">
                    <tr><td>Loading please wait ...</td></tr>
                </tbody> 
            </table>
        </span>
    </div>
  </div>
  <div class="clearfix"></div>
  <br /><br />
    </div>
</body>

</html>

  

  


