- name: Add /scratch dir
  file:
    path: /scratch
    state: directory
  become: yes
- name: Assemble 4xNVMe RAID if needed
  include_role:
    name: rolehippie.mdadm
    apply:
      become: yes
  vars:
    mdadm_arrays:
    - number: 0
      level: 0
      filesystem: 'xfs'
      mountpoint: '/scratch'
      devices:
        - '/dev/nvme0n1'
        - '/dev/nvme1n1'
        - '/dev/nvme2n1'
        - '/dev/nvme3n1'
    nvme: true
  when: 
    - hostvars[nodename].flavor is defined
    - hostvars[nodename].flavor == "i1-180" or hostvars[nodename].flavor == "Standard_L32as_v3"
- name: Assemble 2xNVMe RAID if needed
  include_role:
    name: rolehippie.mdadm
    apply:
      become: yes
  vars:
    mdadm_arrays:
    - number: 0
      level: 0
      filesystem: 'xfs'
      mountpoint: '/scratch'
      devices:
        - '/dev/nvme0n1'
        - '/dev/nvme1n1'
    nvme: true
  when: 
    - hostvars[nodename].flavor is defined
    - hostvars[nodename].flavor == "i1-90" or hostvars[nodename].flavor == "Standard_L16as_v3"
- name: Add FS on extradisk if needed
  community.general.filesystem:
    fstype: xfs
    state: present
    dev: /dev/nvme0n1
  become: yes
  when: 
    - hostvars[nodename].flavor is defined
    - hostvars[nodename].flavor == "i1-45" or hostvars[nodename].flavor == "Standard_L8as_v3"
- name: Mount extradisk if needed
  ansible.posix.mount:
    path: /scratch
    src: /dev/nvme0n1
    fstype: xfs
    opts: defaults
    state: mounted
  vars:
    nvme: true
  become: yes
  when: 
    - hostvars[nodename].flavor is defined
    - hostvars[nodename].flavor == "i1-45" or hostvars[nodename].flavor == "Standard_L8as_v3"
- name: Mnt bigger than root
  shell: echo $([ $(df -k --output=size /mnt|sed '1 d') -gt $(df -k --output=size /|sed '1 d') ] && echo true)
  register: mnt_big
  when:
    - nvme is undefined
    - hostvars[nodename].provider == 'azure'
- name: Mount bind /mnt for Azure VMs
  ansible.posix.mount:
    path: /scratch
    src: /mnt
    opts: bind
    state: mounted
    fstype: none
  become: yes
  when: 
    - mnt_big is defined
    - mnt_big.stdout is defined
    - mnt_big.stdout
- name: add to fstab
  lineinfile:
    dest: /etc/fstab
    regexp: "/scratch"
    line: "/scratch /mnt none bind 0 0"
  become: yes
  when: hostvars[nodename].provider == 'azure' and mnt_big.stdout and hostvars[nodename].flavor not in ["Standard_L32-as_v3","Standard_L16-as_v3","Standard_L8-as_v3"]
- name: Changing perm of /scratch, all+rwx
  file: dest=/scratch mode=a+rwx
  become: yes