- name: Launch a compute instance
  hosts: localhost
  vars:
        flavor: s1-2
        region: GRA11
        target: "{{ ansible_host }}"
        proxy_env:
            OS_REGION_NAME: "{{ region }}"
  tasks:
          - name: Add host and host related variables
            ansible.builtin.script:
                cmd: > 
                 /etc/ansible/inventory/sqlite_inventory.py
                 --add-host "{{ nodename }}" --in-group ovh 
                 --variable region --value "{{ region }}"
                 --variable flavor --value "{{ flavor }}"
                 --variable target --value "{{ target }}"
          - name: Launch a VM
            environment: "{{ proxy_env }}"
            openstack.cloud.server:
                    image: Ubuntu 20.04
                    name: "{{ nodename }}"
                    key_name: "{{ keyname }}"
                    availability_zone: nova
                    flavor: "{{ flavor }}"
                    state: present
                    network: "Ext-Net"
                    region_name: "{{ region }}"
            register: ovhvm
          - name: Add VM to inventory
            add_host:
                    name: "{{ nodename }}"
                    ansible_host: "{{ ovhvm.server.public_v4 }}"
                    groups: ovh
          - name: Complete host related variables
            ansible.builtin.script:
                cmd: > 
                 /etc/ansible/inventory/sqlite_inventory.py
                 --for-host "{{ nodename }}"
                 --variable ansible_host --value "{{ ovhvm.server.public_v4 }}"
                 --variable ipv4 --value "{{ ovhvm.server.public_v4 }}" 
                 --variable ipv6 --value "{{ ovhvm.server.public_v6 }}"
          - meta: refresh_inventory
          - include_tasks: add_in_etchosts.yaml
          - name: Clean source 1
            ansible.builtin.file:
                    path: "{{ scitq_src }}/src/build"
                    state: absent
            when: scitq_src is defined
          - name: Clean source 2
            ansible.builtin.file:
                    path: "{{ scitq_src }}src/dist"
                    state: absent
            when: scitq_src is defined
                    
- name: Prepare managing servers
  hosts: managers
  tasks:
          - include_tasks: add_in_firewall.yaml
- name: Prepare storage servers
  hosts: managers
  tasks:
          - include_tasks: add_in_nfs_exports.yaml
- name: Prepare node
  hosts: "{{ nodename }}"
  gather_facts: false
  tasks:
          - name: Wait for ssh
            wait_for_connection:
              timeout: 300
          - name: Gather facts
            setup:
          - name: Copy scitq source
            copy:
              remote_src: no
              src: "{{ scitq_src }}/src"
              dest: /opt/scitq/
            become: true
            when: scitq_src is defined
          - include_tasks: add_docker.yaml
          - include_tasks: add_nfs.yaml
          - include_tasks: add_scratch.yaml
          - include_tasks: add_s3authentication.yaml
          - name: Add swap
            ansible.builtin.include_tasks: add_swap.yaml
            when: swap_proportion is defined and swap_proportion>0
          - include_tasks: add_scitq.yaml

        
