- name: Launch a compute instance
  hosts: localhost
  vars:
        provider: ovh
        flavor: s1-2
        region: GRA11
        target: "{{ ansible_host }}"
        proxy_env:
            OS_REGION_NAME: "{{ region }}"
  tasks:
          - name: Add host and host related variables
            ansible.builtin.script:
                cmd: > 
                 /etc/ansible/inventory/sqlite_inventory.py
                 --add-host "{{ nodename }}" --in-group "{{ provider }}"
                 --variable region --value "{{ region }}"
                 --variable flavor --value "{{ flavor }}"
                 --variable target --value "{{ target }}"
                 --variable provider --value "{{ provider }}"
          - include_tasks: deploy_vm_ovh.yaml
            when: provider == "ovh"
          - include_tasks: deploy_vm_azure.yaml
            when: provider == "azure"
          - meta: refresh_inventory
          - name: Clean source 1
            ansible.builtin.file:
                    path: "{{ scitq_src }}/src/build"
                    state: absent
            when: scitq_src is defined
          - name: Clean source 2
            ansible.builtin.file:
                    path: "{{ scitq_src }}src/dist"
                    state: absent
            when: scitq_src is defined
                    
- name: Prepare managing servers
  hosts: managers
  tasks:
          - include_tasks: add_in_firewall.yaml
- name: Prepare storage servers
  hosts: managers
  tasks:
          - include_tasks: add_in_nfs_exports.yaml
- name: Prepare node
  hosts: "{{ nodename }}"
  gather_facts: false
  tasks:
          - name: Wait for ssh
            wait_for_connection:
              timeout: 300
          - name: Gather facts
            setup:
          - include_tasks: add_scratch.yaml            
          - include_tasks: add_docker.yaml
          - include_tasks: add_nfs.yaml
          - include_tasks: add_s3authentication.yaml
          - name: Add swap
            ansible.builtin.include_tasks: add_swap.yaml
            when: swap_proportion is defined and swap_proportion>0
          - include_tasks: add_scitq.yaml

        
