- name: Destroy a compute instance
  hosts: localhost
  any_errors_fatal: true
  vars:
        proxy_env:
                OS_REGION_NAME: "{{ hostvars[nodename].region }}"
  tasks:
          - include_tasks: destroy_vm_ovh.yaml
            when: hostvars[nodename].provider == "ovh"
          - include_tasks: destroy_vm_azure.yaml
            when: hostvars[nodename].provider == "azure"
- name: Prepare managing servers
  hosts: managers
  any_errors_fatal: true
  tasks:
          - include_tasks: remove_from_firewall.yaml      
- name: Prepare storage servers
  hosts: managers
  any_errors_fatal: true
  tasks:
          - include_tasks: remove_from_nfs_exports.yaml
- name: Cleaning Ansible
  hosts: localhost
  any_errors_fatal: true
  tasks:
          - include_tasks: remove_from_etchosts.yaml
          - name: Remove from inventory
            ansible.builtin.script:
                cmd: /etc/ansible/inventory/sqlite_inventory.py --del-host "{{ nodename }}" --change-etchosts

