[Unit]
Description=scitq-main
After=multi-user.target

[Service]
EnvironmentFile=/etc/scitq.conf
Type=simple
ExecStart=pyuwsgi --http :5000 --master -p $SCITQ_SERVER_PROCESS --enable-threads -w scitq.server:app

[Install]
WantedBy=scitq.target